<p>Este es un sitio para la comunidad del Temach<sup>&copy;</sup> enfocado al estudio y superación personal</p>
<p-card header="¿Qué desea hacer?">
  <ol>
    <li>Adentrarse en las <a routerLink="/search">visiones del brujo</a>&nbsp;<span class="pi pi-question-circle"
                                                                                    pTooltip="buscador"></span>
    </li>
    <li>Realizar la <a href="http://https://github.com/javatlacati/temachpedia/issues">Danza de la lluvia</a>&nbsp;<span
      class="pi pi-question-circle"
      pTooltip="Reportar un problema o solicitar una nueva
      funcionalidad"></span></li>
  </ol>
  <br>

  Trabajo a futuro:

  <ul>
    <li>Registros de la tribu&nbsp;<span class="pi pi-question-circle"
                                         pTooltip="Preguntas frecuentes"></span></li>
    <li>Salón de trofeos de caza&nbsp;<span class="pi pi-question-circle"
                                            pTooltip="Logros de la comunidad"></span></li>
    <li>Cantares de Gesta&nbsp;<span class="pi pi-question-circle"
                                     pTooltip="Música"></span></li>
    <li>Pruebas de valor&nbsp;<span class="pi pi-question-circle"
                                    pTooltip="Cuestionarios"></span></li>
    <li>Silbatos de guerra&nbsp;<span class="pi pi-question-circle"
                                      pTooltip="Directorio"></span></li>
    <li>Viaje del Héroe&nbsp;<span class="pi pi-question-circle"
                                   pTooltip="Ruta de aprendizaje"></span></li>
  </ul>
  <br>
  <br>
  <p-footer>
    Oráculo&nbsp;<span class="pi pi-question-circle"
                       pTooltip="Para contactarme usa el hilo #Programación en el discord oficial"></span>
  </p-footer>
</p-card>
