<p>
  Este es un sitio para la comunidad del Temach<sup>&copy;</sup> enfocado al estudio y superación
  personal
</p>
<p-card>
  <div class="md:mt-96"></div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-1.5">
    <div class="bg-neutral-800 rounded p-4">
      <h2 class="text-2xl pb-5">¿Qué desea hacer?</h2>
      <div class="grid grid-cols-2">
        <div>
          <a routerLink="/faq">Registros de la tribu</a>&nbsp;<span
          class="pi pi-question-circle"
          pTooltip="Preguntas frecuentes"
        ></span>
        </div>
        <div>
          Adentrarse en las
          <a routerLink="/search">visiones del brujo</a>&nbsp;<span
          class="pi pi-question-circle"
          pTooltip="buscador"
        ></span>
        </div>
        <div>
          <a routerLink="/directory">Silbatos de guerra</a>&nbsp;<span
          class="pi pi-question-circle"
          pTooltip="Directorio"
        ></span>
        </div>
        <div>
          <a routerLink="/lyrics">Cantares de Gesta</a>&nbsp;<span
          class="pi pi-question-circle"
          pTooltip="Música"
        ></span>
        </div>
        <div>
          Realizar la
          <a href="https://github.com/javatlacati/temachpedia/issues" target="_blank"
          >Danza de la lluvia</a
          >&nbsp;<span
          class="pi pi-question-circle"
          pTooltip="Reportar un problema o solicitar una nueva
      funcionalidad"
        ></span>
        </div>
        <div>
          <a routerLink="/achievements">Salón de trofeos</a> de caza&nbsp;<span class="pi pi-question-circle"
                                                                                pTooltip="Logros de la comunidad"></span>
        </div>
      </div>
    </div>
    <div class="bg-neutral-800 rounded p-4">
      <h2 class="text-2xl pb-5">Trabajo a futuro</h2>
      <div class="grid grid-cols-2">
        <div>
          Pruebas de valor&nbsp;<span class="pi pi-question-circle" pTooltip="Cuestionarios"></span>
        </div>
        <div>
          Viaje del Héroe&nbsp;<span
          class="pi pi-question-circle"
          pTooltip="Ruta de aprendizaje"
        ></span>
        </div>
      </div>
      <br />
      <br />
    </div>
  </div>
  <p-footer>
    Oráculo&nbsp;<span
    class="pi pi-question-circle"
    pTooltip="Para contactarme usa el hilo #Programación en el discord oficial"
  ></span>
  </p-footer>
</p-card>
