<p-card header="Preguntas frecuentes">
  <p-panel
    class="p-0.5"
    *ngFor="let faq of faqs"
    [header]="faq.enunciado"
    [toggleable]="true"
    [collapsed]="true"
  >
    <div class="grid grid-cols-2 gap-1.5">
      <p>{{ faq.respuesta }}</p>
      <p-inplace>
        <ng-template pTemplate="display">
          <span class="p-text-secondary">Fuente</span>
        </ng-template>
        <ng-template pTemplate="content">
          <span><a [href]="faq.fuente" target="_blank">Canal de youtube</a></span>
        </ng-template>
      </p-inplace>
    </div>
  </p-panel>
</p-card>
