@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";

body {
  font-family: var(--font-family);
  background-image: url('assets/peacuful male warrior.png');
  background-size: cover;
}
