@import "primeng/resources/themes/lara-light-purple/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@import "primeicons/primeicons.css";
@import "flags";

body {
  font-family: var(--font-family);
  background-image: url('assets/peacuful male warrior.webp');
  background-size: cover;
  color: #abc9fb;
}

.p-card {
  background: #ffffffdb;
}

iframe {
  display: block;
  width: 100%;
}
