  <p-card>
    <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input type="text" pInputText [(ngModel)]="searchQuery" (keydown.enter)="searchForText()" name="searchText"/>
    </span>
    <span class="col"><p-button label="Search" styleClass="p-button-text" (click)="searchForText()"></p-button></span>
    <br>
    <div class="flex flex-column card-container" *ngIf="matches && matches.length">
      <p-paginator [first]="first" [rows]="1" [totalRecords]="matches.length" (onPageChange)="onPageChange($event)"
                   [showJumpToPageDropdown]="false" [showPageLinks]="false"
                   [showCurrentPageReport]="true"></p-paginator>
      <p-card header="{{matches[first].video_title}}">
        <div *ngFor="let transcript of matches[first].transcript">
          {{transcript.text}}
          <a [href]="transcript.url" target="_blank">Abrir</a>
        </div>
      </p-card>
    </div>
  </p-card>


<ins
  class="adsbygoogle"
  style="display:block; text-align:center;"
  data-ad-client="ca-pub-4207300711287771"
  data-ad-slot="3223642428"
  data-ad-format="auto"
  data-full-width-responsive="true"
></ins>
